footer {
    padding: 20px;
    background: #b3b9bd;
    background: -webkit-linear-gradient(to right, #b3b9bd, #2c3e50b0);
    background: linear-gradient(to right, #b3b9bd, #2c3e50b0);
    box-shadow: 2px -1px 10px 0 #646b6fcd;
}
.containerImg {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img {
    width: 80px;
    transition: 0.3s;
}
.img:hover {
    width: 90px;
}
.img img {
    width: 100%;
    cursor: pointer;
}

.auteur {
    text-align: center;
    color: white;
    margin: 0;
}
